/* Paleta de colores y variables de texto */
:root {
    --h1:#3e2723;
    --naranja: #E07A5F;
    --naranja-oscuro: #c99621;
    --blanco: #F4F1DE;
    --gris: #81B29A;
    --negro: #333333;
    --hover-color: #F2CC8F;
    --nav: #e7f5e9;
    --transparente: rgba(0, 0, 0, 0);
    --fondosemitransparente:rgba(0, 0, 0, 0.5);
    /* Colores para niveles de monstruos */
    --ultra-level-color: lightgrey;  
    --high-level-color: #f68989;   
    --medium-level-color: lightblue; 
    --low-level-color: lightgreen;
    /*Estilo de texto*/
    --fuente-principal: 'Uncial Antiqua', system-ui;
    --fuente-secundaria: 'MedievalSharp', sans-serif;
    --tamano-fuente: 1rem;
    --espacio-formulario: 15px;
    --tamano-boton: 1rem;
    --radio-checkbox-size: 20px;
}

/* Cuerpo de la página */
body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

/* Estilo de Cabecera */
header {
    color: var(--blanco);
    padding: 10px 10px;
    text-align: center;
    font-size: 2rem;
    font-family: var(--fuente-principal);
    background: var(--transparente);
}

/* Navegación */
nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: large;
    background: var(--negro);
    padding: 1vw;
    margin: 0;
    position: fixed;
    top: 0;
    right: 1px; 
    height: 100vh;
    width: 8vw; 
    z-index: 10;
}

nav a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
    color: var(--hover-color);
}

/* Estilo del contenido principal */
main {
    position: relative;
    text-align: center;
    padding: 2vh 2vw; /* Agrega márgenes internos */
    z-index: 1;
    background: var(--blanco);
    color: var(--negro);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: calc(92vw - 4vw); /* Ajusta el ancho para respetar los márgenes laterales */
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; /* Permite que los monstruos se ajusten automáticamente */
    justify-content: space-around; /* Alineación de los monstruos */
    flex-grow: 1;
}

h3{
    text-align: center;
    font-size: xx-large;
    color:var(--h1)
}

/* Estilo personalizado para el encabezado de secciones */
section h2 {
    font-family: "Uncial Antiqua", system-ui;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    background: var(--naranja);
    color: var(--blanco);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
p{
    padding: 0.5vw;
}

/* Footer */
footer {
    font-size: x-large;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    gap: 20px;
    background: var(--fondosemitransparente);
    padding: 10px 0;
    margin: 0 auto;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box; /* Asegura que el padding no afecte la altura */
}

/* mediaqueries.css */

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    label {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
    }

    .tooltip-text {
        width: 150px;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.5rem;
    }

    button {
        font-size: 0.8rem;
        padding: 8px;
    }

    .tooltip-text {
        width: 120px;
    }
}